/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
  background-color: #ffffff;
   
}
body{
    background-color: #9F783B;
	font-family: Montserrat-Regular, sans-serif;
  font-weight: 400;


     font-family: DIN Next LT W23;
    font-size: 20px;   
}
#allcontainer{
    background-color: white;
    margin: 25px;
    padding: 20px;
}
/* style link , button */
a ,.button{
    color:#C3B9A8;
   
}

.btn, .button{
    background-color: #273A27;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: .5em;
}
.button{
    width: 50%;
    margin:30px 4.5em;
    padding: 1.5px;
    padding-bottom: 10px
   
}
a:active {
    text-decoration: underline;
  }
/* mouse over link */
a:hover {
    color: #9F783B;
    
  }
  /* end style link */

/* nav styl */

#nav {
    width:100%;
    display:block;
    background-color:#f2f2f2;
    border-bottom:5px solid #C3B9A8;

    }

#nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
   
    }
    #nav ul .Dropdown:hover{
        background-color: #C3B9A8;
        color: #273A27;
       
    }

#nav ul:After {
    content: "";
    display:block;
    clear:both;
    }     
#nav  ul li {
    display:list-item;
    list-style: none;
    float :right;
    }
    .part-Dropdown .li{
        background-color: #C3B9A8;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

    }



 #nav ul li i {
    font-size: 18px;
    width:30px;
     } 
     #nav ul li  {
        font-size: 16px;
         }
#nav ul li a ,li{
    display: block;
    padding: 20px 8px;
    /* margin: 15px; */
    /* margin-right: 19px; */
    margin-left: 1px;
    color: #464D49;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
 ul li{
    text-align: center;
     
    
}

#nav ul .li a:hover{
    color: #eee;

}
.li:hover{
    background-color: #273A27;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
}

/* The Dropdown Styles */
/* =================== */
/* Hide Dropdowns by Default */
#nav ul ul {
    display: none;
    position: absolute; top: 79px;
    text-align: center
}

/* Display Dropdowns on Hover */
#nav ul li:hover > ul {
    display:list-item;
	
}
/* Fisrt Tier Dropdown */
#nav ul ul li {
    width:200px;
    float:none;
    position: relative;
    border-bottom:none;
    
}
#nav ul ul li i {
    margin-right:10px;
    }
#nav ul ul li a {
    padding:15px 2px;
    text-align:right;
    }
/* Second, Third and more Tiers */
nav ul ul ul li {
    position:relative;
    top:-79px;
    right:200px;
}
#nav li > a:after { content: ' »'; }
#nav > li > a:after {content: ' »'; }
#nav li > a:only-child:after {content: ''; }
#nav ul a.active {
    color:#b35900;
}

/* style video */
#video{
    margin-top: .5em;
    border:6px solid #263a26;
    margin-bottom: 2em;
    height: auto;

    padding-top: 5px;
}

.content-grids{
    border-bottom: 5px solid #C3B9A8;
    text-align: center;
    padding: 30px;
    background-color: #f2f2f2;
}
.content-grids footer a{
    text-align: right;
    margin-top: 20px;
}


/* ad */
.ad{
margin-top: 2em;
margin-bottom: 2em;
padding: 30px;
border: #273A27 5px solid;

}

.ad a:hover{
color: #263a26;
}

/* all section */
.section{
    
    margin-top: 2em;
    

}
.line{
    border: #C3B9A8 solid 2px;
    margin-top: 20px;

}
.line2{
    border: #263a26 solid 2px;
    margin-top: 20px;

}
.section h2{
    text-align: center;
    font-size: 32px;

}
.pragr{
    text-align: center;
    margin: 39px;
    color: #4c5250;
    
}

/* footr */
.footer-left,.footer-right{
    float:none;
    text-align:center;
    line-height:1.8em;
}
.footer img{
    margin: 2px;
    margin-top: 20%;
}
.copyright{
    font-size: 20px;
    text-align: center;
}
/* liyagh page */
.ex1{
    padding: 14px;
    font-size: 15px;
    margin: .5em;
    width: 100%;
}
.liyagh{
    margin-top: 2em;
    margin-bottom: 2em;
}
/* table in leaha */
.contact-form table, th, td{
    border: 1px solid #336600;
    font-size: 20px;;
    color: #996600;
    padding-bottom: 5px;
    padding: 7px;

}
 th{
    color: #273A27;
    text-align: center;

}
pre{
	
	color: #273A27;
    padding-bottom:5px;
    font-size: 19px;
}
b{
    color: #996600;
}
/* ---------------------------------------------------------------------- */
/*  Login
/* ---------------------------------------------------------------------- */
.box-login{
    border: #263a26 solid 1px;
    margin:2em;
    text-align: right;
    padding: 30px;
}